.no_scroll{
    --scroll-page: scroll;
    overflow-y: var(--scroll-page);
}
.header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 0 15px;
}
.container{
    grid-column: 1/-1;
}
.nav{
    --state-close: scale(0);
    --state-hamburger: scale(1);
    --state-menu: translate(-100%);

    padding: 15px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    width: 100%;
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburger: scale(0);
    --scroll-page: hidden;
}

.close_icon_img{
    width: 30px;
    aspect-ratio: 1/1;
}
.menu_icon_img{
    width: 30px;
    aspect-ratio: 1/1;
}
.nav_title{
    color: var(--color-4);
    font-size: 1rem;
    z-index: 1;
}

.nav_hamburger,
.nav_close{
    cursor: pointer;
    grid-column: -1/-1;
    grid-row: 1/2;
    transition: .3s transform;
}
.nav_hamburger{
    transform: var(--state-hamburger);
}
.nav_close{
    transform: var(--state-close);
}
.nav_links{
    background-color: var(--color-3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    justify-content: center;
    gap: 2em;

    transform: var(--state-menu);
    transition: .3s transform;
}
.nav_item{
    list-style: none;
    text-align: center;
}
.nav_link{
    color: var(--color-1);
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.nav_resume_btn{
    background-color: var(--color-2);
    width: fit-content;
    padding: 7px 15px;
    border: 0px solid transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.nav_resume_btn .nav_link{
    color: var(--color-3);
}
@media (min-width: 601px) {
    .header{

        padding: 0 40px;
        margin: 0 auto;
    }
    .nav{
        --state-close: scale(0);
        --state-hamburger: scale(0);
        --state-menu: translate(0);
        
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav_links{
        padding: 0;

        background-color: unset;
        position: unset;
        gap: 1.5em;
    
        transform: unset;
        grid-column: 3;
        grid-row: 1/2;
        grid-auto-flow: column;
        align-items: center;
    }
    .nav_link{
        font-size: 0.8rem;
        letter-spacing: initial;
        color: var(--color-4);
    }
}
@media (min-width: 700px) {
    .nav_title{
        font-size: 1.3rem;
    }
    .nav_link{
        font-size: 1rem;
    }
}
@media (min-width: 1280px) {
    .header{
        max-width: 1280px;
        padding: 0 0px;
        margin: 0 auto;
    }
}