:root {
    --color-1: #FEF6E6;
    --color-2: #E4D3B8;
    --color-3: #81A68C;
    --color-4: #374259;
    --scroll-page: scroll;

}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--color-1);

    overflow-y: var(--scroll-page);
}
.main{
    grid-column: 1/-1;
}
.title{
    font-size: clamp(2rem, 8vw, 3rem);
}
section{
    margin-top: 1rem;
}


@media (min-width: 601px) {
    body {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media (min-width: 1025px) {
    body {
        grid-template-columns: repeat(12, 1fr);
        max-width: 1280px;
        margin: 0 auto;
    }
    section{
        margin-top: 1.5rem;
        border-radius: 10px;
    }
}