@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Girassol&family=Suez+One&display=swap');

:root {
    --color-1: #FEF6E6;
    --color-2: #E4D3B8;
    --color-3: #81A68C;
    --color-4: #2a3242;
    --font-title: 'Suez One', serif;
    --font-text: 'Baskervville', serif;
    --font-subtitle: 'Girassol', serif;
}

::backdrop {
    background-color: var(--color-1);
    opacity: 0.8;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-text);
}

body {
    background-color: var(--color-1);
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title {
    font-size: clamp(2rem, 8vw, 3rem);
    font-family: var(--font-subtitle);
    font-weight: 800;
}

section {
    margin-bottom: 5rem;
    grid-column: 1/-1;
}

/* Modal styles */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    background-color: var(--color-4);
    color: var(--color-1);
    box-shadow: 0 4px 8px var(--color-3);

    width: 310px;
    border: none;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

dialog::backdrop {
    background-color: var(--color-1);
    opacity: 0.8;
}

.dialog_header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: #81A68C;
}

.dialog_header .dialog_header_btn {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 10px;
    border: none;
    background-color: var(--color-2);
}

.dialog_header .dialog_header_btn:last-child {
    background-color: #FF6961;
    background-image: url(../SVG/close.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.dialog_header .dialog_title {
    margin-right: auto;
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--color-4);
}

.dialog_header .dialog_header_btn:hover {
    transform: scale(1.1);
}

.dialog_content {
    width: 100%;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    background-image: url('../SVG/pillar.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.dialog_content .dialog_title_1 {
    font-family: var(--font-subtitle);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.dialog_content .dialog_title_2 {
    font-family: var(--font-subtitle);
    font-size: 1.1rem;
}

.dialog_content .dialog_title_3 {
    font-family: var(--font-subtitle);
    font-size: 1rem;
}

.dialog_content .dialog_p {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0;
    margin: 0 0 10px 0;
}

.dialog_content .dialog_a {
    color: white;
    font-style: italic;
    font-size: 0.9rem;
}

.dialog_content .dialog_a:visited {
    color: rgb(246, 222, 253);
}

.dialog_content ul li .dialog_p {
    margin: 0;
}


/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: var(--color-4);
    color: var(--color-1);
    text-align: center;
    border: 2px solid var(--color-1);
    border-radius: 5px;
    padding: 5px 0;
    font-size: 0.9rem;

    /* Posición */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;

    /* Estilos para la aparición */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


@media (min-width: 601px) {
    main {
        grid-template-columns: repeat(12, 1fr);
    }

    section {
        margin-bottom: 7rem;
    }

    dialog {
        width: 550px;
    }

    .dialog_content .dialog_title_1 {
        font-weight: bold;
        font-size: 1.6rem;
    }

    .dialog_content .dialog_title_2 {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .dialog_content .dialog_title_3 {
        font-weight: bold;
        font-size: 1.1rem;
    }

    .dialog_content .dialog_p {
        font-size: 1rem;
    }

    .dialog_content .dialog_a {
        font-size: 1.1rem;
    }
}

@media (min-width: 1080px) {
    main {
        max-width: 1280px;
        margin: 0 auto;
    }

    section {
        border-radius: 10px;
    }
}